[submodule "vim.symlink/ftplugin/python/pyflakes"]
	path = vim.symlink/ftplugin/python/pyflakes
	url = https://github.com/pyflakes/pyflakes.git
[submodule "vim.symlink/bundle/vundle"]
	path = vim.symlink/bundle/vundle
	url = https://github.com/gmarik/vundle.git
